<template name="deleteTripModal">

	<div id="deleteTripModal" class="modal fade hide" style="display: none;">
		<div class="modal-header">        
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h3>Delete trip?</h3>
		</div>
		<div class="modal-body">
			<p>
				<strong>Are you sure you want to delete the trip? This can not be undone.</strong>
			</p>
			<p>
				<a href="/" class="btn yes btn-danger">yes</a>
				<a href="/" class="btn no">no</a>
			</p>

	    </div>    
		<div class="modal-footer">
			<a class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

</template>